<div class="container flex">
  <div class="w-full mb-5 text-center me-5 card">
    {% liquid
      render 'theme/simple/profile/card', user: user, current_profile: current_profile

      if user != blank and user.id == current_profile.id
        render 'theme/simple/profile/owner_actions', user: user
      endif
    %}

    <div class="mt-3">
      {% liquid
        render "modules/chat/theme/simple/message_button", to_id: user.id, button: true
      %}
    </div>
  </div>
</div>
<div class="container flex flex-col md:flex-row gap-4">
  {% liquid
    assign sections_path = 'profile/' | append: user.slug | append: '/'
  %}
  {% render 'theme/simple/profile/nav', tab: section, user: user, path: sections_path, tags: tags, current_profile: current_profile %}
  <section class="flex-1">
    {% liquid
      if section == 'feed'
        render 'theme/simple/profile/sections/activity', list: list, current_profile: current_profile, context: context
      elsif section == 'groups'
        render 'theme/simple/profile/sections/groups', list: list, current_profile: current_profile
      elsif section == 'following'
        render 'theme/simple/profile/sections/following', list: list, current_profile: current_profile
      elsif section == 'followers'
        render 'theme/simple/profile/sections/followers', list: list, current_profile: current_profile
      elsif section == 'products'
        render 'theme/simple/profile/sections/products', list: list, current_profile: current_profile
      endif
    %}
  </section>
</div>
