<section class="mt-8 flex flex-col gap-4"
  x-frames-target="feed"
>
  {% if list.total_entries > 0 %}
    {% liquid
      for activity in list.results
        render 'theme/simple/activities/feed_unit', payload: activity.payload, current_profile: current_profile, namespace: namespace, context: context
      endfor

      if list.has_next_page
        function group_url = 'link_to', object: group, action: 'frame'
        render 'theme/simple/load_more', page: page, url: group_url
      endif
    %}
  {% else %}
    <p class="container my-8 text-lg">{{ 'app.search.no_items_found.title' | t }}</p>
  {% endif %}
</section>
