{% render 'theme/simple/home/hero' %}

{% for item in promoted %}
  {% if item[1].results.size > 0 %}
    <section class="py-12 bg-gray-600">
    <div class="container">
      <h2 class="text-content-inverted bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-3 lg:grid-cols-4">
        {% for item in item[1].results %}
          {% render 'theme/simple/items/card', item: item, current_profile: current_profile, showMeta: false %}
        {% endfor %}
      </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

{% for item in categories %}
  {% if item[1].results.size > 0 %}
    <section class="container py-12">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>
      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/category', object: item %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}


{% render 'theme/simple/home/ad' %}
{% render 'theme/simple/home/cta' %}